body
{
	font-family: 'Roboto', sans-serif;
	background-image: url('../images/image.jpg');
	background-size:cover;
	background-color: black;
	opacity: 50%;
}

/*{
	border: 1px solid black;
}*/

.logo{
	border: 2px solid white;
	width: 175px;
	height: 175px;
	left: 125px;
	/*border-radius: 5px;*/
	margin-top: 25px;
	padding-top: 0;
	text-align: center;
	color: #ffffff;
	position: relative;
}

.menu{
	margin-top: 70px;
	position: relative;
	left: 10px;
}

.social-links{
	margin-top: 70px;
	position: relative;
	left: 250px;
}

#job{
	margin-top: 120px;
	text-align: center;
	color: #ffffff;
	font-size: 50px;
	line-height: 75px;
	font-weight: bold;
}

h6{
	margin-top: 20px;
	margin-bottom: 50px;
	text-align: center;
	color: #ffffff;
	font-size: 30px;
	font-weight: normal;
	font-style: italic;
}

img{
	width: 40px;
	height: 40px;
}

#jdc{
	padding-top: 25px;
	margin: 0;
	height: 100px;
	font-size: 75px;
	text-align: center;
	width: 75px;
    font-weight: bold;
}

#ds{
	padding-top: 10px;
	margin: 0;
	line-height: 25px;
	font-size: 20px;
	text-align: center;
	padding-bottom: 20px;
}

.link{
	float: right;
}

button{
	color: #ffffff;
	padding: 20 75;
	text-align: center;
	background-color: transparent;
	height: 50px;
	border-color: transparent;
	cursor: pointer;
}

.home-button
{
	margin-top: 100px;
    background-color: transparent;
    font-size: 19px;
    border: 1px solid white;
    text-transform: uppercase;
    color: #ffffff !important;
    padding: 10px 10px;
    margin: 5px;
}

.panel{
	height: 690px;
	width: 300px;
	float: left;
	background-color: black;
	opacity: 25%;
	color: #ffffff;
}

#welcome{
	text-align: center;
	font-size: 50px;
}

h2{
	text-align: center;
	font-size: 20px;
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

